In [1]:
!gdown 1bcjmpS2bMSdi8BIKGY7jM_iLsdyaV235

Downloading...
From: https://drive.google.com/uc?id=1bcjmpS2bMSdi8BIKGY7jM_iLsdyaV235
To: /content/NLP_dataset.csv
100% 18.7M/18.7M [00:00<00:00, 63.3MB/s]

In [2]:
import pandas as pd
df=pd.read_csv('NLP_dataset.csv')
df.head()

,Unnamed: 0,sentiment,message,tweetid,text,processed_text,LemmatizeText,label
0,0,positive,@tiniebeany climate change is an interesting h...,792927353886371840,@tiniebeany climate change is an interesting h...,climate change interesting hustle global warmi...,climate change interesting hustle global warmi...,1
1,1,neutral,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641,RT @NatGeoChannel: Watch #BeforeTheFlood right...,rt watch right travels world tackle climate ch...,rt watch right travel world tackle climate cha...,0
2,2,positive,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256,Fabulous! Leonardo #DiCaprio's film on #climat...,fabulous leonardo film change brilliant watch via,fabulous leonardo film change brilliant watch via,1
3,3,positive,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904,RT @Mick_Fanning: Just watched this amazing do...,rt fanning watched amazing documentary leonard...,rt fanning watched amazing documentary leonard...,1
4,4,negative,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",rt pranita biswasi lutheran odisha gives testi...,rt pranita biswasi lutheran odisha give testim...,-1

In [3]:
X=df.LemmatizeText
y=df.label

In [4]:
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [5]:
# Separating the 95% data for training data and 5% for testing data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state =0)

In [9]:
vectoriser = TfidfVectorizer(ngram_range=(1,2), max_features=500000)
vectoriser.fit(X_train.values.astype('U'))
print('No. of feature_words: ', len(vectoriser.get_feature_names_out()))

No. of feature_words:  149135

In [11]:
X_train = vectoriser.transform(X_train.values.astype('U'))
X_test  = vectoriser.transform(X_test.values.astype('U'))

In [12]:
LRmodel = LogisticRegression(C = 2, max_iter = 1000, n_jobs=-1)
LRmodel.fit(X_train, y_train)
# model_Evaluate(LRmodel)
y_pred3 = LRmodel.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
print(accuracy_score(y_test,y_pred3 ))

0.8430554502010165

In [15]:
from sklearn.metrics import classification_report

# Assume y_true and y_pred are the true and predicted labels, respectively
print(classification_report(y_test,y_pred3))

              precision    recall  f1-score   support

          -1       0.89      0.82      0.85      5042
           0       0.76      0.88      0.82      3161
           1       0.86      0.84      0.85      4980

    accuracy                           0.84     13183
   macro avg       0.84      0.85      0.84     13183
weighted avg       0.85      0.84      0.84     13183

In [ ]:
#NaiveB

In [16]:
BNBmodel = BernoulliNB()
BNBmodel.fit(X_train, y_train)
# model_Evaluate(BNBmodel)
y_pred1 = BNBmodel.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
print(accuracy_score(y_test,y_pred1 ))

0.6996889934005917

In [19]:
from sklearn.metrics import classification_report

# Assume y_true and y_pred are the true and predicted labels, respectively
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

          -1       0.64      0.83      0.73      5042
           0       0.90      0.31      0.46      3161
           1       0.72      0.82      0.77      4980

    accuracy                           0.70     13183
   macro avg       0.76      0.65      0.65     13183
weighted avg       0.74      0.70      0.68     13183